$fa-font-path: "/assets/webfonts";

@import "custom-bootstrap";
@import "node_modules/bootstrap/scss/bootstrap";
@import "fonts";

@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/utilities";

// Pano UI Styles

$all-colors: map-merge-multiple($primaries);

$utilities: map-merge(
  $utilities,
  (
    "color":
      map-merge(
        map-get($utilities, "color"),
        (
          values:
            map-merge(
              map-get(map-get($utilities, "color"), "values"),
              ($all-colors)
            ),
        )
      ),
  )
);

@import "bootstrap/scss/utilities/api";

// Editor

.ProseMirror {
  font-family: Arial, Helvetica, sans-serif;
  display: block;
  word-wrap: break-word !important;
  height: 100%;
  padding: 1rem;
  outline: none;
  border: none;
}
