@import "custom-bootstrap";
@import "node_modules/bootstrap/scss/bootstrap";
@import "fonts";

// Main Styles

.no-gutters {
  margin-right: 0;
  margin-left: 0;

  > .col,
  > [class*="col-"] {
    padding-right: 0;
    padding-left: 0;
  }
}

.border-lg {
  border-width: 5px !important;
}

.border-xl {
  border-width: 10px !important;
}

.icon-link {
  transition: 0.2s;

  &:focus,
  &:active {
    border-radius: 75px !important;
    outline: 0 !important;
    background: $lightprimary !important;
    transition: 0.2s;
  }
}

.z-1 {
  z-index: 1;
}

.badge {
  color: $white;
}
