$fa-font-path: "/assets/webfonts";

@import "custom-bootstrap";
@import "node_modules/bootstrap/scss/bootstrap";
@import "fonts";
@import "node_modules/@fortawesome/fontawesome-free/scss/fontawesome";
@import "node_modules/@fortawesome/fontawesome-free/scss/brands";
@import "node_modules/@fortawesome/fontawesome-free/scss/solid";

// Pano UI Styles

// Editor

.ProseMirror {
  font-family: Arial, Helvetica, sans-serif;
  display: block;
  word-wrap: break-word !important;
  height: 100%;
  padding: 1rem;
  outline: none;
  border: none;
}
