name: Pano UI SDK Release

on:
  push:
    branches: ['master', 'dev']

permissions:
  contents: read

jobs:
  build-and-release:
    runs-on: ubuntu-latest
    permissions:
      contents: write # to be able to publish a GitHub release
      issues: write # to be able to comment on released issues
      pull-requests: write # to be able to comment on released pull requests
      id-token: write # to enable use of OIDC for npm provenance
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive # Fetch submodules
          fetch-depth: 0
          token: ${{ secrets.TOKEN_GITHUB }}

      - name: Extract branch name
        shell: bash
        run: echo "branch=${GITHUB_HEAD_REF:-${GITHUB_REF#refs/heads/}}" >> $GITHUB_OUTPUT
        id: extract_branch

      - uses: oven-sh/setup-bun@v2.0.2

      - uses: actions/setup-node@v4
        with:
          node-version: 'latest'

      - name: Install
        run: bun install

      - name: Release
        env:
          GITHUB_TOKEN: ${{ secrets.TOKEN_GITHUB }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
        run: npx semantic-release --force
